# dependencies
node_modules/
packages/*/lib

# tests
coverage/*
!coverage/*.svg

# misc
.DS_Store
.env*
!.env.sample
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*


# editor configs
.vscode/
